body { 
	font-family: Arial;
}
h1 {
	background-color: black; 
	color: red;
	text-align: center;
	font-size: 45px;
	text-decoration: underline;
}
th {
	border: 3px red;
	color: red;
	border-collapse: collapse;
	text-align: center;
	text-decoration: underline;
}
td {
	border: 3px red;
	color: red;
	border-collapse: collapse;
	text-align: center;
}
table  {
	margin-left: auto;
	margin-right: auto; 
}
tr {
	word-wrap: break-word; 
	background-color: #e4ffe5;
}
p {
	background-color: #FFFFFF;
	text-align: center;
}